*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto',sans-serif;
    font-size: 20px;
}

body {
    background-color: lightgrey ;
}

.header-site {
    padding: 13px 20px;
    background-color: white;
}

.img-logo {
    vertical-align: middle;
}

.title {
    display: inline;
    vertical-align: middle;
    font-size: 2rem;
}

main {
    max-width: 900px;
    margin: 40px auto 10px;
    background-color: white;
    border-radius: 12px;
}

.header-main {
    padding: 20px 40px 10px;
    border-bottom: 3px solid lightgray;
}

.list-main {
    padding: 40px;

}

ul{
    list-style: none;
}

.title-section {
    display: inline;
    vertical-align: middle;
}


    
.check-green {

    display: inline-block;
    color: green;
    border: 2px solid green;
    border-radius: 10em;
    font-size: 0.6rem;
    width: 1.5em;
    height: 1.5em;
    text-align: center;
    vertical-align: middle;
    line-height: 1.5em;

}

.tag-blue {
    background-color: blue;
} 